h1 We've got some bad new for you 😢

p.
    It seems that article number <strong>{{ ticket.article }}</strong> has been
    discontinued in the United States. You will no longer receive stock alerts
    for this product.

h4 Thank you for using Stöck Høund!
