h1 Get 'em while they're <span style="color: #fecb00;">hot</span>!

p.
    This is your reminder for article number {{ link(ticket.article) }}.
    Your selected IKEA store has indicated that the product is in
    <em>{{ level.lower() }}</em> stock as of today. You will receive no
    further notifications for this product.

h4 Thank you for using Stöck Høund!
