md-dialog.attdis
    div.md-padding.toolbar(layout="row" layout-align="start center")
        h4 Attributions and Disclaimers
        span(flex)
        md-button.md-icon-button(ng-click="close()")
            md-icon close

    md-content.md-padding(style="text-align: justify;")
        p.
            Neither I, Samuel P. Gillispie II (the creator and developer), nor
            this web application, "Stöck Høund," are affiliated in any way with IKEA
            USA or Inter IKEA Systems B.V. This is a purely not-for-profit
            application intended to demonstrate the utility of such a service
            in IKEA's United States market.
        
        p.
            This application is operated using the same publicly available data
            found on the IKEA USA website, and data provided by users of the
            application. I believe this constitutes a fair use of the services
            provided by IKEA USA's network. Details of collected user data
            can be made available upon request.
        
        p.
            This application's source code is available openly on
            <a href="https://github.com/spgill/stock-hound">my GitHub</a> and is
            provided under the <a href="https://opensource.org/licenses/MIT">MIT License</a>.
        
        p.
            I can be contacted anytime by email at <a href="mailto:samuel@spgill.me">samuel@spgill.me</a>.
        
        hr
        
        p.
            This is not an exhaustive list of all works used,
            but I am only one human so ¯\_(ツ)_/¯
        
        ul
            li “Dog” icon by Egon Låstad, from thenounproject.com.
