.sweden-yellow-bg { background-color: #fecb00 !important; }
.sweden-yellow-fg { color: #fecb00 !important; }
.sweden-blue-bg { background-color: #005293 !important; }
.sweden-blue-fg { color: #005293 !important; }
.white-bg { background-color: #fff !important; }
.white-fg { color: #fff !important; }
