h1.swedensans {
    img {
        height: 1.618ex;
        padding-left: 0.38ch;
    }
}

img.emoji {
    height: 1em;
    &:not(:first-child) {
        padding-left: 1ch;
    }
}

.content-frame {
    max-width: 512px;
    background-color: #fff;
    // border-radius: 3px;
    padding: 8px;

    p {
        margin: 16px;
    }

    md-input-container {
        margin-left: 8px;
        margin-right: 8px;
    }

    .captcha {
        min-height: 78px;
    }

    button.md-button.md-raised {
        margin-top: 18px;
    }
}

md-input-container.skinny {
    height: 30px;
}

md-dialog.attdis {
    div.toolbar {
        background-color: #005293;
        color: #fff;

        md-icon {
            color: #fff;
        }
    }
}
