.sh-Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;

    display: flex;

    width: 100%;
    padding-bottom: 8px;

    > p {
        // @extend .bx--type-caption;

        z-index: 0;

        > img {
            height: 0.618em;
        }
    }
}

.sh-Footer__list {
    > li::before {
        content: "•";

        margin-right: 0.382em;
    }
}
