// A few utility classes for manipulating Carbon grids

.sh-Grid__flex {
    flex-direction: column;
    flex: 1;

    display: flex;
}

.sh-Grid__row--center-x {
    justify-content: center;
}

.sh-Grid__row--center-y {
    align-items: center;
}
